<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>{{my_post.title}}</div>
    <div>{{my_post.contents}}</div>
    {% if my_post.images %}
    <img src="{{my_post.images.url}}">
    {% endif %}
    <div>{{my_post.updated_at}}</div>

    <div><a href="{%url 'update' my_post.id %}">수정</a></div>
    <div><a href="{%url 'delete' my_post.id %}">삭제</a></div>

</body>

</html>