<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    hi!
    <button><a href="{% url 'create' %}">create</a></button>
    {% for post in all_post %}
    <a href="{% url 'detail' post.id %}">
        <div>{{post.title}}</div>
        <div>{{post.contents}}</div>
        {% if post.images %}
        <img src="{{post.images.url}}">
        {% endif %}

        <div>{{post.updated_at}}</div>
    </a>
    {% endfor %}
</body>

</html>